{% extends 'base/base.html' %}

{% block title %} Lista de Tipos {% endblock title %}

{% block content %}


<a href="{% url 'core:create_tipo' %}" class="btn btn-outline-success form-control">Añadir nuevo tipo</a>
<h1>Listado de Tipos</h1>
<table class="table">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for tipo in Tipos %}
            <tr>
                <td>{{ tipo.codigo }}</td>
                <td>{{ tipo.nombre }}</td>
                <td>{{ tipo.descripcion }}</td>
                <td>
                    <a href="{% url 'core:detail_tipo' tipo.codigo %}" class="btn btn-outline-info">Detalles</a>
                    <a href="{% url 'core:update_tipo' tipo.codigo %}" class="btn btn-outline-warning">Actualizar</a>
                    <a href="{% url 'core:delete_tipo' tipo.codigo %}" class="btn btn-outline-danger">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>


    
{% endblock content %}

