{% extends "base/base.html" %}

{% block title %}
  Actualizar Tipo
{% endblock title %}

{% block content %}
<h1>Actualizar Tipo</h1>
<form method="post" class="form">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-outline-primary">Actualizar Tipo</button>
  <a href="{% url 'core:list_tipos' %}" class="btn btn-outline-warning">Cancelar</a>
</form>
{% endblock content %}
